@model CoreLaboratory2.Models.Laboratory
@{
    ViewData["Title"] = "NewLaboratory";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<br />
<form class="form-group" method="post">
    <b>Laboratory Name</b>
    @Html.TextBoxFor(x => x.LaboratoryName, new { @class = "form-control" })
    <br />
    <b>Laboratory Type</b>
    @Html.TextBoxFor(x => x.LaboratoryType, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" id="addBtn">Add Laboratory</button>
</form>
<script>
    $('#addBtn').click(function () {
        alert("Laboratory was added.");
    });
</script>

