@model CoreLaboratory2.Models.Laboratory
@{
    ViewData["Title"] = "UpdateLaboratory";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<br />
@using (Html.BeginForm("UpdateLaboratory1", "Laboratory", FormMethod.Post))
{
    <b>Laboratory ID</b>
    @Html.TextBoxFor(x => x.LaboratoryID, new { @class = "form-control" })
    <br />
    <b>Laboratory Name</b>
    @Html.TextBoxFor(x => x.LaboratoryName, new { @class = "form-control" })
    <br />
    <b>Laboratory Type</b>
    @Html.TextBoxFor(x => x.LaboratoryType, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" id="updBtn">Update Laboratory</button>
}
<script>
    $('#updBtn').click(function () {
        alert("Update Successful");
    });
</script>
