@model CoreLaboratory2.Models.Test
@{
    ViewData["Title"] = "NewTest";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<br />
<form class="form-group" method="post">
    <b>Test Name</b>
    @Html.TextBoxFor(x => x.TestName, new { @class = "form-control" })
    <br />
    <b>Test Type</b>
    @Html.TextBoxFor(x => x.TestTypes, new { @class = "form-control" })
    <br />
    <b>Test Description</b>
    @Html.TextBoxFor(x => x.TestDescription, new { @class = "form-control" })
    <br />
    <b>Employee</b>
    @Html.DropDownListFor(x => x.Employee.EmployeeID, (List<SelectListItem>)ViewBag.data, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" id="addBtn">Add Test</button>
</form>
<script>
    $('#addBtn').click(function () {
        alert("Laboratory was added.");
    });
</script>
